@import "tailwindcss";
@theme {
  --breakpoint-ms: 818px;
}
/* Keep your other custom CSS below this line */
body {
  margin: 0;
  overflow-x: hidden;
  background-color: black;
}
.outline-text {
  -webkit-text-stroke: 1.5px black;
  color: transparent;
}